<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ siteName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  {{ pageTitle }}
  <p>Either you just had the absolute BEST shopping Xperience!</p>
  <p>Oorr, you've just had by far the WORST shopping Xperience ever!</p>
  <p>Either way, WE work hard for the money we spend.  Businesses should RESPECT your presence in their establishment.</p>
  <p>Wouldn't it be nice to know if the places you do business with was being held to a ethical and moral standard?</p>
  <p>The {{ siteName }} app allow you to easily open the app and with a few clicks you can share and tell ALL of your friends about the absolute best places to shop or frequent.</p>
  <p>Or you can tell ALL of you friends not to do business with a particular company until they work on providing a better shopping experience.</p>
  <p>Did we mentioned it's FREE!</p>

</ion-content>
