bs-navbar {

  .header,
  .header-ios{
    height: 75px;
  }
  .ion-header > header {
    margin-top: 55px;
  }
  ion-header, ion-navbar,
  .toolbar-background{
    border-width: 0 0 0.00px;
  }
  .toolbar{
    height: 75px;
  }
  .header-ios,
  .toolbar-background,
  .toolbar-background-ios,
  .toolbar-background-ios:last-child,
  .toolbar-background-md{
    border-width: 0 0 0.00px;
    border-style: none;
  }
  .header-logo-wrapper{
    width: 25%;
    float: left;
  }
  .header-logo{
    float:left;
    width: 60px;
    height: 60px;
    padding: 3px;
  }
  .header-logo-wrapper :hover,
  .header-logo :hover{
    cursor: pointer;
  }
  .header-site-name{
    float: left;
    margin: 20px 0 0 10px;
  }
  .bar-button-default-md{
    visibility: hidden;
  }
  .toolbar,
  .toolbar-background-md{
    border:none;
  }
  .toolbar-content,
  .toolbar-content-md{
    max-width: 85%;
    margin: 0 auto 0;
  }
  .toolbar-title{
    margin: 0 auto 0;
  }
  .back-button-ios{
    visibility: hidden;
  }
  #desktopnav{
    display: block;
    color: #ffffff;
  }
  .desktop-nav-links-wrapper{
    float: right;
    width: 300px;
    margin-top: -40px;
  }
  .desktop-nav-links{
    float: left;
    visibility: visible;
    border: 1px solid red;
    color: #000000;
  }
  .signin-button{
    visibility: visible;
    background-color: #488aff;
  }
  .signup-button-text{
    color: #ffffff;
  }

  @media (max-width: 1024px){

  }

  @media (max-width: 812px){
    .bar-button-default-md,
    .bar-button-default-ios{
      visibility: visible;
    }
    .desktop-nav-links-wrapper {
      display: none;
    }
    .header-logo-wrapper{
      margin: 0 auto 0;
      float: none;
      width: 33%;
    }
  }

  @media(max-width: 768px) {
    .bar-button-default-md,
    .bar-button-default-ios{
      visibility: visible;
    }
    .back-button-ios,
    .back-button-md{
      visibility: visible;
    }
    .desktop-nav-links-wrapper{
      display: none;
    }
    .header-site-name{
      position: relative;
      margin: 0 auto 0;
      float: none;
      display: none;
      visibility: hidden;
    }
    .header-logo-wrapper{
      margin: 0 auto 0;
      float: none;
      width: 10%;
    }
    .header-logo{
      float:none;
      width: 100%;
      padding: 0;
      margin: 0 auto 0;
    }
  }

  @media (max-width: 736px) {
    .desktop-nav-links-wrapper {
      display: none;
    }
  }


  @media (max-width: 667px){
    .header-logo-wrapper{
    }
  }

  @media (max-width: 568px){
    .header-logo{
      width: 25%;
    }
  }


  @media (max-width: 414px){
    .header-logo-wrapper{
      width: 30%;
    }
    .header-logo{
      width: 85%;
    }
  }


  @media (max-width: 411px){
    .header-logo-wrapper{
    }
    .header-logo{
      width: 60%;
    }
  }


  @media(max-width: 375px){
    .header-logo-wrapper{
    }
    .header-logo{
      width: 100%;
    }
  }

  @media(max-width: 360px){
    .header-logo-wrapper{
      width: 28%;
    }
    .header-logo{
    }
  }

  @media (max-width: 320px){
    .header-logo-wrapper{
      width: 59%;
    }
    .header-logo{
      float:none;
      width: 70%;
    }
  }

}
